<div class="large-12 columns">
  <table width="100%">
    <thead>
      <th width="30%">
        Asset
      </th>
      <th width="30%">
        User
      </th>
      <th width="20%">
        Action
      </th>
      <th width="20%">
        Time
      </th>
    </thead>

    <% asset_logs.each do |l| %>
      <tbody>
        <tr>
          <td>
            <%= link_to l.asset.name, asset_path(l.asset) %>
          </td>
          <td>
            <%= l.user.email %>
          </td>
          <td>
            <%= l.action %>
          </td>
          <td>
            <%= l.created_at %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
