<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Shared resources overdue</title>
  </head>

 <body>
Dear <%= @borrower.name %>, <br><br>

It appears you are still borrowing some shared resources. Please follow the links below and return them at your earliest convenience:<br><br>

<% @assets.each do |asset| %>
  <%= link_to asset.name, asset_url(asset) %> <br>
<% end %>

Thanks,

Your Majordomo
 </body>
</html>
