<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Nulogy HQ Shared Assets Overdue</title>
  </head>

 <body>
Dear <%= @borrower.name %>, <br><br>

It appears you are still borrowing some shared assets. Please return them at your earliest convenience by following the links below:<br><br>

<% @assets.each do |asset| %>
  <%= link_to asset.name, asset_url(asset) %> <br>
<% end %>
<br>
Thanks,<br><br>

Your Majordomo
 </body>
</html>
