<% content_for :styles do %>
<%= stylesheet_link_tag "home" %>

<% end %>

<div class="main-page-wrapper">

	<section class="row main-page">
		<section class="small-12 large-5 columns">

			<ul class="welcome-message">
				<li class="first">Create Assets</li>
				<li class="second">Find Assets</li>
				<li class="third">Borrow Assets</li>
				<li class="fourth">Track Assets</li>
			</ul>

		</section>

	<section class="summary large-7 columns">
		<h3>Welcome to Majordomo</h3>

		<p>Majordomo is a simple asset tracking application for all of Nulogy's assets and staff. Sign in with your Nulogy google account to get started</p>

		<%= link_to "Sign in to get started", user_omniauth_authorize_url(provider: "google"), :class => "a-button" %>
	</section>

	</section>
</div>

<div class="footer-wrapper">

<footer class="row footer">

<div class="large-12 columns">
<p>Majordomo is a Hackday project by Andrew Shewchenko, Clemens Park, Lukas Beaton &amp; Syed Ahmed Hussaini</p>
</div>

</footer>

</div>