<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Nulogy HQ Shared Asset Sign-Out</title>
  </head>

 <body>
Dear <%= @borrower.name %>, <br><br>

You've succesfully borrowed <%= link_to @asset.name, asset_url(@asset) %>. Please return it when you're finished so others can use it!<br><br>

Thanks,<br><br>

Your Majordomo
 </body>
</html>
