<label>Name:
  <input type="text" name="asset[name]" value="<%= @asset.name %>" />
</label>

<label>
  Description:
  <textarea name="asset[description]"><%= @asset.description %></textarea>
</label>
