<section class="row">
<div class="large-12 columns">

  <h1>Borrow Asset: <%= @asset.name %></h1>


  <span class="label-value">Description:</span>
  <p class="value"><%= @asset.description %></p>

  <span class="label-value">Asset status:</span>
  <p class="value"><%= @asset.status %></p>

<hr>

</div>
</section>

<section class="row">

<div class="large-12 columns">
  <%= render partial: "assets/borrow_or_return", locals: { asset: @asset } %>
</div>
</section>
