<h1>Assets</h1>



<table width="100%">
  <thead>
    <th>
      Name
    </th>
    <th>
      Status
    </th>
    <th>
      Modified
    </th>
  </thead>

  <% @assets.each do |asset| %>
    <tbody>
      <tr>
        <td>
          <%= link_to asset.name, asset_path(asset) %>
        </td>
        <td>
          <%= asset.status %>
        </td>
        <td>
          <%= asset.updated_at %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>

<%= link_to "Create", new_asset_path(@asset) %>
