<section class="row">
<div class="large-12 columns">

    <h1>Create New Asset</h1>

    <%= form_for @asset do %>
    <%= render partial: "fields" %>

    <input type="submit" value="Create Asset" class="a-button" />
    <% end %>

</div>
</section>

