<%= form_for @asset do %>
  <label>Name:
    <input type="text" name="asset[name]" />
  </label>

  <label>
    Description:
    <textarea name="asset[description]"></textarea>
  </label>

  <input type="submit" value="Add!" />
<% end %>
