@import "globals"


body
	overflow: hidden

.navigation_wrapper
	border-bottom: 1px solid rgba(0,0,0,0.04)
	padding: 5px 0px
	background: rgba(0,0,0,0.03)

	.row

	.logo
		font-size: 20px
		text-indent: -9999em
		background: url("logo.png")
		width: 175px
		height: 39px
		display: block
		margin-right: 10px
		margin-top: -8px
		float: left
		text-align: right
		direction: rtl
		border-bottom: 0px

	nav
		text-align: right
		margin: 16px 0px
		vertical-align: middle



		.a-button
			color: $alizarin

			&:hover
				background: $alizarin
				border-color: $pomegranate
				color: white

.small-button
	font-family: $montserrat
	font-size: 14px
	text-transform: uppercase
	color: $nephritis
	padding: 8px
	border-radius: 2px
	border: 1px solid transparent
	border-bottom: 2px solid transparent
	display: inline-block
	margin-right: 20px

	&:hover
		background: $emerald
		color: white
		border-color: $nephritis

.a-button
	font-family: $montserrat
	font-size: 14px
	letter-spacing: 1px
	text-transform: uppercase
	padding: 10px
	border: 1px solid
	color: $emerald
	transition: all 50ms ease-in
	border-radius: 4px
	border-bottom: 2px solid

	&:hover
		background: $emerald
		border-color: $emerald
		color: white
		transition: all 50ms ease-in

	&:focus
		outline: none

#notice-msg
	background: $clouds
	width: 100%
	max-width: 1000px
	margin: 0 auto
	padding: 20px
	font-weight: bold
	font-size: 25px
	color: $asbestos


.primary-nav
	padding-top: 12px
	text-align: right
	@extend .hide-for-small



h1
	font-family: $montserrat
	color: $midnight-blue
	font-size: 40px
	border-bottom: 2px solid
	padding: 20px 0px

.reveal-modal
	h2
		font-family: $montserrat
		color: $midnight-blue
		font-size: 26px
		padding: 10px 0px
		border-bottom: 2px solid

	p
		font-family: Cambria, serif
		font-size: 18px
		font-style: normal
		font-weight: normal
		text-transform: normal
		letter-spacing: normal
		line-height: 1.5em
		color: $wet-asphalt

	.gridster
		background: white
		border: 1px solid rgba(0,0,0,0.1)
		box-shadow: 0px 0px 5px rgba(0,0,0,0.3)

		ul li
			background: $belize-hole
			color: white
			padding-top: 20px
			border: 2px solid rgba (0,0,0,0.05)

span.label-value
	font-weight: bold
	color: $wet-asphalt
	font-size: 14px
	text-transform: uppercase

p.value
	font-size: 20px
	color: rgba(0,0,0,0.9)

input[type="submit"]
	background: white

// Buttons

.createButton
	position: absolute
	right: 18px
	top: 35px

// Tables

table
	border-collapse: collapse
	border-bottom: 20px
	font-size: 15px
	border: none

thead
	text-transform: uppercase
	background: #eaeaea
	font-weight: bold
	color: #FFFFFF

td, th
	padding: 10px 14px

tr:nth-of-type(even)
	background: #F7F7F7