$main-color: white;
$subtle-gray: #ebebeb;
$header: #bc6c5e;

$btn-color: #bc6c5e;
$form-focus-color: #bc6c5e;
$btn-color-focus: #dd8879;

$turquoise: #1ABC9C;
$green-sea: #16A085;
$emerald: #2ECC71;
$nephritis: #27AE60;
$peter-river: #3498DB;
$belize-hole: #2980B9;
$amethyst: #9B59B6;
$wisteria: #8E44AD;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;
$sun-flower: #F1C40F;
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;
$alizarin: #E74C3C;
$pomegranate: #C0392B;
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;



@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(http://fonts.googleapis.com/css?family=League+Script|Codystar|Quicksand|Wire+One|Julius+Sans+One|Pathway+Gothic+One|Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Nixie+One|Flamenco:300,400|Megrim|Raleway+Dots);


$montserrat: 'Montserrat', sans-serif;
$julius: 'Julius Sans One', sans-serif;

$league: 'League Script', cursive;
$codystar: 'Codystar', cursive;
$quicksand: 'Quicksand', sans-serif;
$wire: 'Wire One', sans-serif;
$pathway: 'Pathway Gothic One', sans-serif;
$roboto: 'Roboto Slab', serif;
$nixie: 'Nixie One', cursive;
$flamenco: 'Flamenco', cursive;
$megrim: 'Megrim', cursive;
$raleway: 'Raleway Dots', cursive;