@import "globals"


.navigation_wrapper

	.row
		border-bottom: 1px solid rgba(0,0,0,0.1)
		padding: 20px 0px

	.logo
		font-size: 20px
		text-indent: -9999em
		background: url("logo.png")
		width: 175px
		height: 39px
		display: block

	nav
		text-align: right
		margin: 16px 0px
		vertical-align: middle

		.a-button:first-child
			color: $alizarin

			&:hover
				background: $alizarin
				border-color: $pomegranate
				color: white

			.a-button:last-child
				color: $belize-hole


.a-button
	font-family: $montserrat
	font-size: 14px
	letter-spacing: 1px
	text-transform: uppercase
	padding: 10px
	border: 1px solid
	color: $emerald
	transition: all 50ms ease-in
	border-radius: 4px
	border-bottom: 2px solid

	&:hover
		background: $emerald
		border-color: $emerald
		color: white
		transition: all 50ms ease-in

