a {
	color: $btn-color;

	:hover {
	color: $btn-color-focus;
	}

}

.top-bar {
	background: $subtle-gray;
	border-bottom: 2px solid rgba(0,0,0,0.1);
	height: 55px;

li {
	background: $subtle-gray;
}

	.top-bar-section ul {
		background: $subtle-gray;
	}


	.top-bar-section li a:not(.button) {
	background: $subtle-gray;
	background: transparent;
	margin-top: 20px;
	color: #bc6c5e;
	}


}

.top-bar-section .has-form {
	background: $subtle-gray;
}

.main-logo {
	background: image-url("logo.png") no-repeat $subtle-gray;
	width: 175px;
	height: 39px;
	text-indent: -100000em;
}

@media only screen and (max-width: 920px) {
	.top-bar-section ul li {
		border-bottom: 1px solid rgba(0,0,0,0.3);
	}
}


 

@media only screen and (min-width: 920px) {
	.top-bar {
		height: 90px;

		.name {
			padding: 26px;
		}
	}

.left {
	background: $subtle-gray !important;
}
	.left li:first-child {
		margin-right: 10px;
	}

	.nav-link a, #sign_in_link {

border: none;
font-family: inherit;
font-size: inherit;
color: inherit;
background: none;
cursor: pointer;
padding: 6px;
display: inline-block;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 700;
outline: none;
position: relative;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
border: 3px solid $btn-color;
color: $btn-color;

&:hover {
	background: $btn-color !important;
	color: white !important;
}

}
}



#sign_in_link {
	padding: 20px;
}

h1 {
	font-family: $montserrat;
	color: $header;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 10px;
}

form {
	label {
		font-weight: bold;
		text-transform: uppercase;
		border-bottom: rgba(0,0,0,0.3) dotted 1px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	textarea {
		height: 100px;
	}



	input[type="text"],textarea {
		margin-top: 10px;		
		font-size: 18px;
		border: 2px solid rgba(0,0,0,0.3);

		&:hover {
			color: $form-focus-color;
			border: 2px solid $form-focus-color;
		}

	}

	
}

.button {
	border: none;
font-family: inherit;
font-size: inherit;
color: inherit;
background: none;
cursor: pointer;
padding: 15px;
display: inline-block;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 700;
outline: none;
position: relative;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
border: 3px solid $btn-color;
color: $btn-color;

&:hover {
	background: $btn-color !important;
	color: white !important;
}
}

#welcome {
  font-size: 72px;
  background: -webkit-linear-gradient($header, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1em;

}